/*###################################################################*/
/*#####################*//* ЗАКЛАДКИ ЗВЕРХУ *//*#####################*/
#titlebar{ /* вся строка  */
	order: 1;
}
#nav-bar{ /* Адрес */
	order: 1;
}
#TabsToolbar{ /* Таби */
	order: 1;
}
#PersonalToolbar{ /* Закладки */
	order: 0;
}
/*####################################################################*/