/*####################################################################*/
/* Червона рамка вмісту як псевдоелемент  */
#tabbrowser-tabpanels::after { 
    content: ''; /* Додає порожній контент */
    position: absolute; /* Абсолютне позиціонування */
    inset: 0; /* Встановлює відступи з усіх боків на 0 */
    border: 1px solid #8B0000; /* Червона рамка товщиною 1 пікселі */
    pointer-events: none; /* Вимикає взаємодію з елементом */
    z-index: 9999; /* Встановлює високий пріоритет для накладання */
    box-sizing: border-box; /* Включає рамку та відступи в розміри елемента */
} 