/*####################################################################*/
/* Редагуємо стиль для однієї лінії, щоб активна вкладка не виділялася з загального стилю */
.tab-background 
{
  &:is([selected], [multiselected]) { /* Застосовується до вибраних або мультивибраних вкладок */
    background-color: transparent !important; /* Прозорий фон */
    box-shadow: none !important; /* Вимикає тінь */
    outline-color: transparent !important; /* Прозорий контур */
  }
}
/*.browser-toolbox-background, /* Панель меню  */
#TabsToolbar /* Панель вкладок, закрити і тд.  */
{
    background-color: var(--toolbar-bgcolor) !important; /* Панель меню  */
}



/*####################################################################*/
:root 
{
  --toolbarbutton-outer-padding: none !important; /* Вимикає зовнішні відступи для кнопок на панелі інструментів */
}

.sidebar-splitter { /* вже не пам'ятаю що тут робив */
  --splitter-width: 4px; 
  z-index: 0 !important; /* Встановлює пріоритет накладання на 0 */
}
